/*=========================================
Page Styling
=========================================*/

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.appContainer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #182f3f;
  background-color: #fbfbfb;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
}

.mainContainer {
  margin: 40px;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.cardContainer {
  margin-bottom: 15px;
}

.card {
  min-width: 310px;
  min-height: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #a8b5c6;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.closeIcon {
  margin: 5px;
  margin-left: 10px;
  color: #5f6f83;
}

.closeIcon:hover {
  color: #777777;
  cursor: pointer;
}

.selector {
  position: relative;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 26px;
  border: 1px solid #a8b5c6;
  border-radius: 5px;
  margin: 5px;
}

.selector:last-child {
  margin-right: 10px;
}

.selector:hover {
  cursor: pointer;
}

.defaultSelector {
  color: #777777;
}

.valueInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6px;
  border: 1px solid #a8b5c6;
  border-radius: 5px;
  margin: 5px;
  color: #182f3f;
  font-size: 14px;
  padding: 10px;
}

.selectedDisplayContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.selectedDisplay {
  min-width: 135px;
}

.dropdownContainer {
  position: absolute;
  top: 35px;
  background-color: #ffffff;
  width: 100%;
  min-width: 170px;
  border: 1px solid #e0e6ed;
  border-radius: 5px;
  max-height: 288px;
  overflow: auto;
  z-index: 1;
}

.dropdownOption {
  padding: 15px;
}

.dropdownOption:hover {
  background-color: #e5e5e5;
}

.addButtonContainer {
  margin-bottom: 65px;
}

.staticField {
  background-color: #e0e6ed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  border: 1px solid #a8b5c6;
  border-radius: 5px;
  margin: 5px;
  padding: 0 10px;
}

.addButton {
  width: 62px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #39a7f0;
  color: #ffffff;
  font-size: 18px;
}

.addButton:hover {
  cursor: pointer;
  background-color: #4facea;
}

.addButton:disabled {
  background: none;
  color: #c5c5c5;
  border: 1px solid #e4e4e4;
  cursor: default;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #39a7f0;
  color: #ffffff;
  font-size: 18px;
  transition: background 0.8s;
}

.searchButton:hover {
  cursor: pointer;
  background: #4facea radial-gradient(circle, transparent 1%, #4facea 1%)
    center/15000%;
}

.searchButton:active {
  background-color: #adbdc9;
  background-size: 100%;
  transition: background 0s;
}

.resetButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #a8b5c6;
  color: #ffffff;
  font-size: 18px;
  transition: background 0.8s;
}

.resetButton:hover {
  cursor: pointer;
  background: #b5bdc7 radial-gradient(circle, transparent 1%, #b5bdc7 1%)
    center/15000%;
  /* background-color: #b5bdc7; */
}

.resetButton:active {
  background-color: #e6ebee;
  background-size: 100%;
  transition: background 0s;
}

.actionContainer {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 18px;
  border-top: 1px solid #e0e6ed;
}

.searchIcon {
  margin-right: 10px;
}

.resultsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  background: #ffffff;
  border: 2px solid #eff2f6;
  border-radius: 5px;
  color: #657c91;
}

.resultInfo {
  font-size: 12px;
  font-style: italic;
}

.query {
  margin: 5px 10px;
}

.tooltip {
  display: flex;
  width: 130px;
  min-height: 50px;
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: #e5e8ea;
  border: 1px solid #a8b5c6;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  opacity: 0.8;
  z-index: 100;
}

.chartTitle {
  font-size: 20px;
  margin: 20px 20px 0;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
